body {
    min-height: 100vh;
    font-family: 'Roboto', 'Sans-serif';
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.section {
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

.sec-1 {
    background-color: #1F2937;
}

.header {
    width: 70%;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.header h3{
    margin: 0px;
    flex: 1 0 auto;
}

ul.list-container {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 70%;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.text-container {
    width: 40%;
    padding-right: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    flex: 0 1 auto;
}

.text-container h1{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}

.text-container p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 25px;
    margin-top: 10px;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: none;
}

.big-img {
    width: 400px;
    height: 200px;
    margin-left: auto;
    flex: 0 1 auto;
}

.sec-2 {
    padding: 0px 0px 60px 0px;
}

.sec-2 h2 {
    margin: 40px 0px;
}

.images-container {
    width: 60%;
    display: flex;
    justify-content: center;
}

.card {
    width: 150px;
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-pic {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 5px solid rgb(34, 122, 255);
}

.card p{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.sec-3 {
    background-color: #E5E7EB;
    padding: 70px 0px;
}

.sec-3 p {
    width: 50%;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    margin: 0px;
    align-self: center;
}

.sec-3 h3 {
    width: 50%;
    margin: 20px 0px 0px 0px;
    padding-right: 80px;
    text-align: right;
    align-self: center;
}

.rectangle {
    width: 60%;
    background-color: #3882F6;
    padding: 40px 100px;
    margin: 90px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle-text h1 {
    font-size: 20px;
    color: #F9FAF8;
    margin: 0px;
    align-self: flex-start;
}

.rectangle-text p {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0px;
}

.rectangle button {
    margin-left: auto;
    border: 1px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    align-self: stretch;
}






